#clipPolygon {
    width: 100%;
    height: 100%;
    fill: white;
    /*Firefox*/
}

.nav-item {
    width: 40%;
    height: 50px;
    // background-color: snow;
    // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAYAAAA4GpVBAAAAFklEQVQYV2NgYGAwZkABDSCeFKrYfwAUcwHNlI9gkwAAAABJRU5ErkJggg==);
    // background-repeat: repeat;
}